<header class="header">


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/">
				<img src="assets/img/gallery-logo.png" alt="Логотип Галерея" class="logo">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a [ngClass]="{'active': href === '/', 'nav-link': true }" aria-current="page" routerLink="/" routerLinkActive="active-link">Галерея</a>
					</li>
					<li class="nav-item">
						<a [ngClass]="{'active': href === '/portfolio', 'nav-link': true }" routerLink="portfolio">Обо мне</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>