<div class="container portfolio">
	<div class="portfolio__about mt-4">
		<h2 class="text-center">Обо мне</h2>
		<div class="row justify-content-between mt-5">
			<div class="col-lg-4 order-lg-1">
				<img class="rounded-circle img-thumbnail mx-auto d-block my-photo" src="assets/img/portfolio/myPhoto.jpg" alt="я">
			</div>
			<div class="col-lg-8 align-self-center order-lg-0">
				<p>Здравствуйте!</p>
				<p>Меня зовут Игорь. Мне 32&nbsp;год и&nbsp;я&nbsp;начинающий веб-разработчик.</p>
				<p>На&nbsp;данный момент прохожу курс обучения от
					<a href="https://www.spbstu.ru/" target="_blank" title="Санкт-Петербургский политехнический университет Петра Великого">СПБПУ</a> по&nbsp;специальности &laquo;Веб-разработчик. Языки JavaScrypt/TypeScript&raquo;.
				</p>
				<p>Технологии изучаемые на курсе: HTML, CSS, SCSS, JavaScript, TypeScript, Angular, NestJs, RxJs.</p>
			</div>
		</div>
	</div>
	<div class="line mt-4 mb-4"></div>
	<div class="portfolio__skills mt-4">
		<h2 class="text-center">Навыки</h2>
		<div class="skills__container mt-4">
			<div class="skills__logo">
				<img src="assets/img/portfolio/Angular-icon.png" alt="" class="logo-tech">
			</div>
			<div class="card skills__technology">
				<div class="card-body">
					<h5 class="card-title">Angular</h5>
					<p class="card-text">Разработка на&nbsp;Angular.</p>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">Онлайн магазин 'Lesotho Promise'. Выполняю заказ на верстку магазина. Оповещение о желании заказать товар через телеграм бота. Angular Routing, Query Parameters, Services, Pipes, Directives, Angular animations, реализовал кеширование данных, RxJs, Получение данных из JSON (в данный момент работаю над простеньким  (NestJS)). Фильтр товаров, поиск по товарам.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igordadadadanet.gitlab.io/lesotho-promise/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/lesotho-promise" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">Тестовое задание. Что то вроде Emmet.</div>
							<div class="">Имеется текстовое поле, в которую пользователь вводит формулу. В дропдауне выводятся подсказки по функциям, константам и булевым операторам. Реализована навигация на клавишах, автозаполнение, закрытие скобок.</div>
							<div class="">Выполнено в виде самостоятельного модуля.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igordadadadanet.gitlab.io/formula/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/formula" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">Эта галерея. Компоненты, сервисы, интерфейсы и типы.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/angular-gallery" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="skills__container mt-4">
			<div class="skills__logo">
				<img src="assets/img/portfolio/React-icon.jpg" alt="" class="logo-tech">
			</div>
			<div class="card skills__technology">
				<div class="card-body">
					<h5 class="card-title">React, Redux</h5>
					<p class="card-text">Изучал разработку на&nbsp;React с&nbsp;использованием Redux. Классовые/ функциональные компоненты. Методы жизненного цикла, хуки. Redux Thunk.</p>
					<div class="skills__item">
						<div class="card p-2">
							<div class="">Приложение планировщик. Использовал асинхронные запросы для получения начального состояния. Redux для хранения и&nbsp;редактирования данных. Работающий поиск, часть функций фильтра, редактирование, добавление и&nbsp;удаление полей.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igorsachkov.github.io/training-oblako/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://github.com/igorSachkov/training-oblako" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="skills__container mt-4">
			<div class="skills__logo">
				<img src="assets/img/portfolio/Vue-icon.png" alt="" class="logo-tech">
			</div>
			<div class="card skills__technology">
				<div class="card-body">
					<h5 class="card-title">Vue</h5>
					<p class="card-text">Слегка затронул разработку на&nbsp;Vue, когда выполнял тестовое задание.</p>
					<div class="skills__item">
						<div class="card p-2">
							<div class="">Приложение предлагает случайный сорт пива. Запрашивается случайный json с&nbsp;ресурса
								<a href="https://random-data-api.com/">random-data-api</a>. Также подгружается рандомный пользователь. Вкладка &laquo;Profile&raquo; рабочая, выводит данные о&nbsp;пользователе в&nbsp;модальном окне.
							</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igordadadadanet.gitlab.io/random-beer-page/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/random-beer" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="skills__container mt-4">
			<div class="skills__logo">
				<img src="assets/img/portfolio/JS-icon.png" alt="" class="logo-tech">
			</div>
			<div class="card skills__technology">
				<div class="card-body">
					<h5 class="card-title">JavaScript</h5>
					<p class="card-text">Разработка на&nbsp;JavaScript/TypeScript</p>
					<div class="skills__item">
						<div class="card p-2">
							<div class="">Интерфейс StarWars DB&nbsp;для данных из&nbsp;<a href="https://swapi.dev/" target="_blank">SWAPI</a>. Работа с&nbsp;Promise, реализация пагинатора, использование bootstrap.
							</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igordadadadanet.gitlab.io/js-5/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/js-5" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">Простенький эхо сервер на&nbsp;Node. Выполнение асинхронных задач (выполнение домашнего задания).</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/js-4" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">ToDo List, добавление элементов, редактирование, удаление. Работа с&nbsp;localStorage. Обратный таймер.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/practice2" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">Работа с&nbsp;DOM. Добавление новых элементов, удаление, Drag and Drop.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igorsachkov.github.io/js-2/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/js-2" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">Сайт с&nbsp;несколькими html файлами. Начало обучения курсов проф-переподготовки. Bootstrap 3&nbsp;версии, для адаптива со&nbsp;старыми браузерами.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igordadadadanet.gitlab.io/aperture/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://gitlab.com/igordadadadanet/aperture" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
					<div class="skills__item mt-2">
						<div class="card p-2">
							<div class="">Первый опыт разработки по&nbsp;макету в&nbsp;Figma. Чистый JS&nbsp;без использования фреймворков, применение SCSS. Реализовал &laquo;карусели&raquo; двумя способами, адаптив под мобильное разрешение, медиазапросы, кнопка бургер, функцию &laquo;свайп&raquo;, генерация DOM объектов в&nbsp;зависимости от&nbsp;переданных данных. Код требует серьезного рефакторинга, писался в&nbsp;начале обучения.</div>
							<div class="p-2 pb-0 d-flex justify-content-around justify-content-md-start">
								<a class="btn btn-primary m-1" href="https://igorsachkov.github.io/TheLoop/" target="_blank">Приложение</a>
								<a class="btn btn-primary m-1" href="https://github.com/igorSachkov/TheLoop" target="_blank">Репозиторий</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="skills__item mt-4">
			<div class="card p-2">
				<div>
					<div>Репозитории:</div>
					<ul class="list list-group">
						<li>
							<a class="list__link" href="https://gitlab.com/users/igordadadadanet/projects" target="_blank"><i class="link__icon gitlab"></i>gitlab</a>
						</li>
						<li>
							<a class="list__link" href="https://github.com/igorSachkov?tab=repositories" target="_blank"><i class="link__icon github"></i>github</a>
						</li>
					</ul>
				</div>
				<div class="mt-3">
					<div>Сертификаты:</div>
					<ul class="list list-group">
						<li>
							<a class="list__link" href="https://stepik.org/cert/1054721" target="_blank">JavaScript для начинающих</a>
						</li>
						<li>
							<a class="list__link" href="https://stepik.org/cert/1068568" target="_blank">Интерактивный тренажер по&nbsp;SQL</a>
						</li>
						<li>
							<a class="list__link" href="https://docs.microsoft.com/ru-ru/users/46890688/achievements/learn.language.build-javascript-applications-typescript.trophy" target="_blank">Создание приложений JavaScript с&nbsp;помощью TypeScript</a>
						</li>
					</ul>
				</div>


			</div>
		</div>

	</div>
</div>