<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog gallery-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<!--carousel-->
				<div id="modal-carousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button *ngFor="let item of data; let counter = index" type="button" data-bs-target="#modal-carousel" attr.data-bs-slide-to="{{counter}}" [ngClass]="{'active': counter === 0}" attr.aria-label="Slide {{counter + 1}}"></button>
					</div>
					<div class="carousel-inner">
						<div *ngFor="let item of data; let counter = index" [ngClass]="{
							 'carousel-item': true,
							 'active': counter === 0}" class="carousel-item active">

							<img src="{{item.src}}" class="d-block w-100" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#modal-carousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#modal-carousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>


			</div>
		</div>
	</div>
</div>