<div class="photo-album-container container">
	<h1 class="main-title">{{title}}</h1>
	<div class="row" data-bs-toggle="modal" data-bs-target="#exampleModal">
		<div class="col-md-6 col-xl-3 d-flex align-items-stretch mt-4" *ngFor="let item of data; let counter = index">
			<app-card class="card col-12" [item]="item" [counter]="counter"></app-card>
		</div>
	</div>
</div>


<!-- Modal -->
<app-modal [data]="data" [title]="title"></app-modal>