<app-carousel [data]="galleryData" [showTitle]="showTitle"></app-carousel>

<div class="container">
	<h1 class="main-title">Галерея</h1>
	<div class="row">
		<div class="col-md-6 col-lg-4 d-flex align-items-stretch mt-4" *ngFor="let item of cardsData">
			<app-main-card [item]="item" class="card col-12"></app-main-card>
		</div>
	</div>
</div>