@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --logo-color: rgb(62, 58, 113)
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main-title {
  color: var(--logo-color);
  text-align: center;
  margin: 2rem 0;
  font-weight: 700;
}

.logo {
  padding: 1rem;
  width: 200px;
}

.photo-album-container {
  .photo-album__image {
    cursor: pointer;
    transition: transform .2s ease-in-out;
  }

  .photo-album__image:hover {
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
  }
}

//modal gallery

.gallery-modal {
  max-width: 100%;
}

.modal-body {
  padding: 0;
}

//portfolio

.list {
  list-style-type: none;

  .list__link {
    display: flex;
    align-items: center;
    margin-top: .4rem;
  }

  .link__icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: .5rem;
  }

  .gitlab {
    background: url("./assets/img/portfolio/gitlab.png");
    background-size: cover;
  }

  .github {
    background: url("./assets/img/portfolio/github.png");
    background-size: cover;
  }
}

.line {
  height: 1px;
  background-color: #c5c0c0;
}

.my-photo {
  width: 70%;
}

.portfolio__skills {
  .skills__logo {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-color: white;
    margin-bottom: -1px;

    .logo-tech {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .skills__technology {
    border-top-left-radius: 0;
  }
}


@media (min-width: 992px) {
  .my-photo {
    width: 100%;
  }
  .gallery-modal {
    max-width: 75%;
  }
}

.footer {
  width: 100%;
  background-color: rgb(210, 208, 208);
  margin-top: 32px;

  .call-icon {
    background: url("./assets/img/icons/phone-call.png");
    background-size: cover;
  }

  .message-icon {
    background: url("./assets/img/icons/email.png");
    background-size: cover;
  }
}