@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.slider-container {
    font-family: 'Merriweather', serif;
}

.slider__title {
    text-shadow: 1px 1px 2px black;
}

.slider__text {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .5rem;
    border-radius: .5rem;
}