<ngb-carousel>
	<ng-template ngbSlide *ngFor="let item of data">
		<div class="picsum-img-wrapper">
			<img class="d-block w-100" [src]="item.src" alt="Random first slide">
		</div>
		<div class="carousel-caption d-none d-md-block">
			<h5 *ngIf="showTitle" class="slider__title">{{item.title}}</h5>
			<p class="slider__text">{{item.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>